<div class="main-container">
  <!-- TODO - move navbar to a specific component -->
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1 style="color: whitesmoke;">GeoNetwork search app - demo</h1>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <h3 style="color: whitesmoke;">Search tools</h3>
      <span style="background-color: whitesmoke;" class="menu-spacer"></span>
      <div>
        <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-button routerLink="/search" routerLinkActive="active">Search</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="container" style="padding: 0 15px 0 15px;">
    <router-outlet></router-outlet>
  </div>

<!--div fxLayout="row"
     fxLayoutAlign="center"
     fxLayoutGap="20px">
  <h1>{{title}}</h1>
</div>

<div fxLayout="row"
     fxLayoutAlign="center"
     fxLayoutGap="20px">
  <app-search-box></app-search-box>
</div>

<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="20px"
     fxLayoutGap.xs="0">
  <div class="item item-1 container-element"
       fxFlex="20%">
    <app-facets></app-facets>
  </div>
  <div class="item item-2"
       fxFlex>
    <app-resultview></app-resultview>
    <app-pagination></app-pagination>
  </div>
</div-->
</div>
